* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-light--1: #ececec;

  --color-dark--1: #9c7d93;
}

body {
  display: flex;
  height: 100vh;
  color: var(--color-light--1);
}

/* Sidebar */
.sidebar {
  flex-basis: 45rem;
  background-color: var(--color-dark--1);
  display: flex;
  flex-direction: column;
}

.logo {
  height: 6rem;
  align-self: center;
  margin-bottom: 4rem;
}

/* Map */
#map {
  flex: 1;
  height: 100%;
}
